hr {
  border: none;
  border-bottom: 0.1rem solid #e0e0e0 !important;
}

.popup-content {
  padding: 15px !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  margin: auto !important;
  height: auto;
  width: auto !important;
}

.popup-content div {
  display: flex !important;
  flex-flow: column;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  gap: 4px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

.popup-overlay {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.list-image {
  background-color: rgb(240, 240, 240);
  padding: 6px;
  border-radius: 5px;
  height: 100%;
}

.error {
  color: #e94560 !important;
}
